{% extends 'Reddit/base.html' %}
{% block content %}
<a href="{% url "Reddit:subreddit" name %}">{{ name }}</a>

<p>{{ title }}</p>
<p>{{ post }}</p>

{% if random_url.image %}
    <img src="{{ random_url.image.url }}"
    width="500"
    height="500"
    alt="image"/>
{% endif %}


{% for obj in object_list %}
    <br/>
    <li>
    <ul>{{ obj.date_added|date:'Y. M d, H:i' }}</ul>
    <ul>{{ obj.comment|linebreaks }}</ul>
    </li>
    <br/>
    {% empty %}
    <li>There are no comments added yet</li>
{% endfor %}


{% endblock content %}
