{% extends 'Reddit/base.html' %}
{% block content %}
<a href="{% url "Reddit:subreddit" name %}">{{ name }}</a>

<p>{{ title }}</p>
<p>{{ post }}</p>
<a href="{% url "Reddit:edit_post" random_url.subreddit random_url.random_url random_url.slug %}">Edit post</a>

{% if random_url.image %}
    <img src="{{ random_url.image.url }}"
    width="500"
    height="500"
    alt="image"/>
{% endif %}

<a href="{% url "Reddit:new_comment" random_url.subreddit random_url.random_url random_url.slug %}">New Comment:</a>
{% for obj in object_list %}
    <br/>
    <li>
    <ul>{{ obj.date_added|date:'Y. M d, H:i' }}</ul>
    <ul>{{ obj.comment|linebreaks }}</ul>
    </li>
    <br/>
    {% empty %}
    <li>There are no comments added yet</li>
{% endfor %}


{% endblock content %}
