{% extends 'Reddit/base.html' %}

{% block content %}
<p>Test page for main subreddit: {{ name }}</p>
<ul>
    {% for events in all_events %}
        <li>
            <strong>
            <a href ="{% url 'Reddit:post' events.subreddit events.random_url events.slug %}">{{ events.title }}</a>
            </strong>
        </li>
        <li>
        {{ events.post }}
        {% if events.image %}
        <img src="{{ events.image.url }}"
            width="50"
            height="50"
            alt="image"/>
        {% endif %}
        </li>
        <br>
        {% empty %}
        <p>No posts have been added yet</p>
    {% endfor %}

</ul>

{% endblock content %}
